<footer class="bg-slate-800 text-white">
  <div class="max-w-screen-2xl mx-auto px-4">
    <div class="grid grid-cols-5 gap-4">
      <app-footer-box [items]="categories" title="Categories"></app-footer-box>
      <app-footer-box [items]="beverages" title="Beverages"></app-footer-box>
      <app-footer-box [items]="quickLinks" title="Quick Links"></app-footer-box>
      <app-footer-box [items]="getInTouch" title="Get In Touch"></app-footer-box>
      <app-social-box />
    </div>
  </div>
</footer>