<div class="container">
  <div class="flex mt-10 ml-6 grid gap-4 grid-cols-4 bg-pink-400 px-22">
    <div>
      <a class="text-blue-500" href="#">99yearsDeals.com</a>
      <label class="w-48 ml-20" for="Deliverto">DeliverTo</label>
    </div>
    <div class="card flex flex-wrap justify-content-center gap-3">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText />
      </span>
    </div>
    <i class="fa-solid fa-cart-plus text-5xl ml-96"></i>
  </div>
  <div class="card flex justify-content-center">
    <p-selectButton></p-selectButton>
  </div>

  <div class="card flex justify-content-center space-x-10 mt-10 ml-6">
    <p-selectButton
      [options]="paymentOptions"
      [multiple]="true"
      optionLabel="name"
      optionValue="value"
    ></p-selectButton>
  </div>
  <div class="card flex justify-content-center space-x-10 mt-10">
    <div>
      <p-card header="Foods" [style]="{ width: '300px', height: '400px' }">
        <div class="w-48 ml-8">
          <img
            src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80"
          />
        </div>
        <p class="w-48 ml-8">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </p-card>
    </div>
    <div class="card flex justify-content-center">
      <p-card header="Foods" [style]="{ width: '300px', height: '400px' }">
        <div class="w-48 ml-8">
          <img
            src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80"
          />
        </div>
        <p class="w-48 ml-8">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </p-card>
    </div>
    <div class="card flex justify-content-center">
      <p-card header="Foods" [style]="{ width: '300px', height: '400px' }">
        <div class="w-48 ml-8">
          <img
            src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80"
          />
        </div>
        <p class="w-48 ml-8">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </p-card>
    </div>
    <div class="card flex justify-content-center">
      <p-card header="Foods" [style]="{ width: '300px', height: '400px' }">
        <div class="w-48 ml-8">
          <img
            src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80"
          />
        </div>
        <p class="w-48 ml-8">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </p-card>
    </div>
    <div class="card flex justify-content-center">
      <p-card header="Foods" [style]="{ width: '300px', height: '400px' }">
        <div class="w-48 ml-8">
          <img
            src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80"
          />
        </div>
        <p class="w-48 ml-8">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </p-card>
    </div>
  </div>
  <div class="container">
    <p class="mt-10"><b>HOTELS</b></p>
    <div class="card flex justify-content-center space-x-10 mt-10">
      <div>
        <p-card header="Hotels" [style]="{ width: '300px', height: '400px' }">
          <div class="w-48 ml-8">
            <img
              src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80"
            />
          </div>
          <p class="w-48 ml-8">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </p-card>
      </div>
      <div class="card flex justify-content-center space-x-10">
        <div>
          <p-card header="Hotels" [style]="{ width: '300px', height: '400px' }">
            <div class="w-48 ml-8">
              <img
                src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80"
              />
            </div>
            <p class="w-48 ml-8">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
          </p-card>
        </div>
        <div class="card flex justify-content-center space-x-10">
          <div>
            <p-card
              header="Hotels"
              [style]="{ width: '300px', height: '400px' }"
            >
              <div class="w-48 ml-8">
                <img
                  src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80"
                />
              </div>
              <p class="w-48 ml-8">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              </p>
            </p-card>
          </div>
          <div class="card flex justify-content-center space-x-10">
            <div>
              <p-card
                header="Hotels"
                [style]="{ width: '300px', height: '400px' }"
              >
                <div class="w-48 ml-8">
                  <img
                    src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80"
                  />
                </div>
                <p class="w-48 ml-8">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
              </p-card>
            </div>
            <div class="card flex justify-content-center">
              <p-card
                header="Hotels"
                [style]="{ width: '300px', height: '400px' }"
              >
                <div class="w-48 ml-8">
                  <img
                    src="https://images.unsplash.com/photo-1546069901-ba9599a7e63c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80"
                  />
                </div>
                <p class="w-48 ml-8">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
              </p-card>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
