
<div class="md:container md:mx-auto min-h-screen flex justify-center items-center">
    <form class="-mt-48" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <h1 class="text-2xl mb-4 font-bold">Looks like you're new here!</h1>
        <h3 class="text-xl mb-4 font-semibold">Sign up with your mobile number to get started</h3>
    
        <div class="flex items-center justify-between mb-4">
            <label class="mr-4 font-semibold">Enter Email /Mobile Number</label>
            <input type="text" pInputText formControlName="mobile" />
        </div>
    
        <div class="" *ngIf="otpSent">
            <div class="flex justify-between mb-4">
                <label class="font-semibold">OTP sent to Mobile</label>
                <a (click)="resendOtp()" class="text-blue-500">Resend?</a>
            </div>

            <div class="flex items-center justify-between mb-4" >
                <label class="mr-4 font-semibold">Enter OTP</label>
                <input type="text" pInputText formControlName="otp" />
            </div>
        </div>

        <div class="flex mb-4">
            <p-checkbox formControlName="checked" [binary]="true" inputId="binary"></p-checkbox>
            <a class="text-blue-500 ml-2">By continuing, you agree to 99yearDeals.com's Terms of Use and Privacy Policy.</a>
        </div>
    
        <div class="flex justify-between">
            <p-button label="Continue" *ngIf="!otpSent" (click)="otpSent=true"></p-button>
            <p-button label="Signup" *ngIf="otpSent" type="submit"></p-button>
        </div>
    </form>
</div>
